<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AdventOfCode2023</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        @for (int i = 1; i <= 25; i++)
        {
            int day = i;
            string link = $"Day{day}";

            <div class="nav-item px-2">
                <NavLink class="nav-link" href="@link">
                    December @day
                </NavLink>
            </div>
        }
    </nav>
</div>
