@page "/Day13"
@using System.Text
@inherits ProblemBaseComponent<string, string>

<h3>Day13</h3>

<h5>Answer (A): @answerA</h5>
<h5>Answer (B): @answerB</h5>

@code {
    private int answerA = 0;
    private int answerB = 0;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        var text = @"#.#.##..#.#..
.##.##...#.##
.######.....#
#....#..###..
#########.#..
...##.#.##...
#..#.###.####
#..#.###.####
...##.#.##...

###.###..#....#..
#....#.#.#.#####.
#.#....#.....###.
.###.##..######.#
.....#....#.##.##
.....#....#.##.##
.###.##..######.#
#.#....#.....###.
##...#.#.#.#####.
###.###..#....#..
....#...#.#......
..##.##.#.###.#..
..##.##.#.###.#..

#..##...#
#..##.#.#
.....####
.....##..
.##.#..##
#..##.#..
####..##.
....##..#
#..#.####
#..#.###.
#..######

###.####.#.##
..########...
###......####
...######....
.#.##..##.#..
.##.####.##..
.#.#....#.#..
###..##..####
###..##..####
#.##.##.##.##
..########...
##........###
...######....

##..###..#.####
.........#.##.#
##...#...##..##
##..##.##..##..
##.###.##.####.
......##..####.
###.###.#......
...#..###..##..
....#..########
..##.###.#.##.#
###.###..#.##.#
##.##.###.#..#.
...#...##......
##.......#.##.#
..#####...####.
...##.#...#..#.
##.####.#######

...####...###
####..####.#.
..........#..
..#....#..###
####..####.##
..######..###
##......####.
.#.#..#.#.#.#
...#..#...#..

##..#.##..###
....##...#.##
##.....##..##
...#..##..###
####..##..#..
..##..##.#.#.
...##.#...###

#.##..#.##.
###.#....##
.#.##..####
.#.#.......
#..#..##..#
#..#..##..#
.#.#.......
.#.##..####
###.#....##
#.##..#.##.
.#.####..#.
#.#####.###
#.#####.###
.#.####..#.
#.##..#.#..

.#..#..#.......
#......###..##.
..###.#...#..#.
#.#.#...##.#..#
######..#.##.#.
###...#..###.#.
###...#..###...
######..#.##.#.
#.#.#...##.#..#
..###.#...#..#.
#......###..##.
.#..#..#.......
.#..#..#.......

.##..##...#....
.##.##.#.......
.#.#..#.###.##.
.###.#........#
#.####..##.##.#
...#......##.#.
#....###.#.###.
#.....##.#.###.
...#......##.#.
#.####..##.##.#
.###.#........#
.#.#..#.###.##.
.##.##.#.......
.##..##...#....
...##..#.###..#
#.#.##.####..##
#.#.##.####..##

#..###....###..##
.##.#......#.##..
.#.##.#..#.####..
####.#....#.#####
##..##....##..###
#..#.######.#..##
##.###.##.###.###
.##..#....#..##..
.###.######.###..
###..#.##.#..####
##.####..####.###

#.##..##...
.##..#.#..#
.##..#.#.##
#.##..##...
#..#####.##
....#.##.##
#.##.##..##
#.#..##.###
....#....##
##.#.#..##.
..#.#....##
.##..######
##..#.#.##.
##..#.#.##.
.##..######
..#.#....##
##.#.#..##.

.##.#.#.......#
.####.#.......#
.....#.####....
.....######.##.
.#....#..#####.
#.###....#..#..
#..###...#.##.#
####..#..#.#..#
####..#..#.#..#

####.###..###
#.#.##..##..#
..#.#..#..#..
.##.##.#..#.#
#####...#....
.#.....####..
.#.....####..

#.#..#.#...
#.####.#...
#......#.##
..#..#.....
.######....
########...
##....#####
########..#
#......#.##

........###
.##.#..#...
#....#.#...
..####.##..
....#..#...
...#...#.##
.###..###..
.###..###..
...#.....##

..#..#.#.
..#..#.#.
###.....#
#..#.#...
#...##.##
.##.##.##
##.##.##.
.#.#..##.
.###..##.

#........##..
##.####.####.
#..####..##..
.##.....#..#.
.#.####.#..#.
.##.##.##..##
.#......#..#.
#.##..##.##.#
.#......#..#.
#..####..##..
.########..##
...####......
###.##.######
####..#######
##.####.####.
###.##.######
..######....#

.......#...##
######..#....
.##....##..##
###..#.###...
.....#...#.##
#..#..#......
.##.#.#######
......#.#####
#..###..##...
.....##.#.###
#..#####...##
#..#..###.#..
.##.#.#......
#..##.###....
.##..##..##..

..##.#..#..#..#..
.#.....#.##.##.##
.#.###..##.####.#
##..#.###...##...
..##.#..##..##..#
..###.##.#.......
.#.#..#....####..
#..##.#####.##.##
....###.####..###
.#..####..#.##.#.
.#..##...#.#..#.#
.#....##.###..###
.#....##.###..###
.#..##...#.#..#.#
.#..####..#.##.#.
....###.####..###
#..##.#####.##.##

.#####..#.#......
.....###..#.#####
####.#.#.##.##..#
.#.###...###.####
.#.##.#.###..#..#
.#####.#.#.#.....
##....##..##..##.
##....##..##..##.
.#####.#.#.#.....
.#.##.#.###..#..#
.#.###...#.#.####

#..#.##
####.##
#..##..
##.##..
#####..
.##.#..
.....##

#.##.##
##..#..
..##...
..##...
##..#..
#.#..##
..#####
.#.#...
#.#.#..
.####..
##.....
.#.####
###..##
##...##
.#..###

#.####.#...#.
..#..#..###.#
.##..##..#...
#..##..#.#.#.
........#.#..
...##...###.#
.#.##.#..#..#
##....##.##..
..####....#.#
########....#
###..###..###
.#....#..#.##
#.####.#..#.#
#.####.#.##.#
.#....#..#.##

####......###
##..#.###..#.
#........#...
..#.#.###...#
......#######
#..#....###..
###..#.....#.
###..#.#...#.
#..#....###..
......#######
..#.#.###...#
#........#...
##..#.###..#.
####......###
####......###

#..#....#.#
#.#.##..##.
#.#..#.####
#.#..#.####
..#.##..##.
#..##......
###...###.#
###...#####
###...#####
###...###.#
#..##......
..#.##..##.
#.#..#.####
#.#..#.####
#.#.##..##.

#####.#..####..
#....####.##.##
#...##.........
.#..#.###.##.##
##.#..#..#..#..
...##.####..###
#..#.##..####..
..#.#...#.##.#.
#.##.##########

#..###.#.#.#.#..#
.##.#.##..#######
#####...##..##..#
#.##.##.##.##....
#####.#...#...##.
####.#.###.######
.##..#.###..#####

####....#
####...#.
#..##.#..
....#..##
.##...#..
.##...#..
....#..##
#..##.#..
####...#.
####....#
.##..#.#.
.#..###..
#..#.#...

.#...##.#..####.#
...##...###.....#
#.#.###..##..#..#
#.#.###..##..#..#
...##...###.....#
.#...##.#..####.#
#.#.####.....####
.#..#..###.##.##.
#.#.#..#...#.#...
#.#.#..#.#.#.#...
.#..#..###.##.##.
#.#.####.....####
.#...##.#..####.#

##.#.####.#...#
##.#.####.#...#
...#..##..#..#.
.#.####.##...#.
..##.####..####
...#..####.#...
....###..#.##.#
.#..#####.#..#.
.#####..#....##
.#####..#....##
.#..#####.#..#.
....###..#.##.#
...#..######...
..##.####..####
.#.####.##...#.
...#..##..#..#.
##.#.####.#...#

#.#.##.#.#..#
.##.##.##....
.###..###.##.
#.#.##.#.####
....##.......
####..####..#
###....#.####

.###....###..
#..#....#..##
#..#....#..##
..#.#..#.#...
#.######.#.##
.##.#..#.##..
.#........#..
.....##......
#.##.##.##.##
...######....
.###.##.###..
...######....
#....##....##

#.#######
#.#######
...######
.#..#.##.
.##.#..#.
.####..##
...#....#

###..###.
...####..
#.###.#.#
#.###.#.#
...####..
###..###.
#.#.##..#
..#..#.##
..#..#.##
#.#.##..#
###..###.
...#.##..
#.###.#.#

#.##..#.....##..#
.#..#.......##..#
.#####..#.#.#.##.
#.####...###..##.
#.####...###..##.
.#####..#.#.#.##.
.#..#.......##..#
#.##..#.....##..#
##.###....#######
..##......###.##.
###.#..##.....##.
#.###......##.##.
##.##.#......####
..#######...##..#
##..##.##...##.##
##..#.##.##..#..#
.....###..#.#####

.##...##....#.#
#####.#....####
#..##..##.###.#
.......#..##..#
#####.#.##..###
.##..#..###....
.....#.#.##.###
#..####..##.#.#
.##.#....#.###.
.##.#....#.###.
#..####..##.#.#
.....#.#.##.###
.##..#..###....
#####.#.##..###
.......#.###..#
#..##..##.###.#
#####.#....####

..##....#.....#
#.#.##.###.#..#
.###..#..#.##..
.###..#..#.##..
#.#.##.#.#.#..#
..##....#.....#
.##.###..#...#.
#####..###.###.
..###...#...#..
.##.###.#......
.#.##.#...#####
.#.##.#...#####
.##.###.#......

######..##.#.#.##
######..####.#.##
#.##.##.##.#.#..#
#....#...##....#.
##..##...#..##..#
##..###....###.##
#....#.##...##.##
.####.##.#.#..###
.......#.##.##.##
.#..#.#..##.#..##
.#..#..#.##..##..
..##.....##...###
#.##.#.....######
#######..#....##.
#.##.##.#...#####
##..###......#.##
#....##..###.##.#

##..##.##..
##..##.#...
......#.##.
.#..#.#..##
.#..#.#...#
#######...#
..##..#.###
........##.
.......##.#
.........#.
.........#.
..##...##.#
........##.

####..####.#....#
..#....#....####.
...####...#.#..#.
.##....##....##.#
#.######.###.##.#
...........#....#
#.#.##.#.###....#
#..#..#..###....#
.#......#.###..##
#.######.###.##.#
.###..###.###..##

.#..#.#
###..#.
..###.#
..###.#
###..#.
....#.#
#.#.###
....##.
#..#.#.
##.##.#
#....##
.#....#
.#....#

#.##.#...##...#
#.##.#.#.##...#
##.###....#...#
#..#.##.#....#.
##...##.##.#..#
#....#.#.##..##
.####....##.##.
.####......#...
.####......#...

.####.#....#..###
#..##...##.###...
.#.##......##....
#.##.###...##..##
#..#.###.##.....#
#..##.#.##.##.###
..#..#.#..##.####
.#..#..#.########
...#..####.#...##
###.....#.##.#.##
.#.#.....#.#.#...
##.....##.....###
..####...##.#.###
..##.#..#.##..#..
.#.....#...###...
.#.....#...###...
..##.#..#.##..#..

#.#.#..
#.#####
....#..
####.#.
##.....
..##...
##.....
...#.##
...#.##

..#....
...#.#.
###.###
###.###
...#.#.
..#....
.#.###.
#.....#
#.#...#
.#.###.
..#....
...#.#.
###.###

..#..#.#.#...#.##
.#.##..##..#.#..#
..##.##.....#..##
#.##...##...###..
........#####....
##.#####.#.#.##.#
.###..#.###.##.##
.###..#.###.#..##
##.#####.#.#.##.#
#..###..#...###..
#...##....##.##.#
#...##....##.##.#
#..###..#...###..
##.#####.#.#.##.#
.###..#.###.#..##
.###..#.###.##.##
##.#####.#.#.##.#

.#.###.
..####.
.###.#.
.###.#.
.#####.
.#.###.
..####.
######.
###..#.
..#.#..
.##.##.
#.##..#
#.##..#
.##.##.
..#.#..
###..#.
######.

......####...
.........#.#.
.......#.#.#.
......####...
....##..##...
##..#.....###
##..##....#..
######.###...
##.#..####.##
...#..#....##
##.##..####.#
##...#.....#.
####.##.###.#

######.
..####.
..#...#
..#.#..
....##.
...##.#
...##.#
....##.
..#.#.#
..#...#
..####.
######.
###.#..
.....##
...#..#
##..#..
...#...

.###......######.
...####....#..#..
##.#.##.##......#
.#.#....#..#..#..
##.#.....###..###
#..###...........
..#...###.##..##.
.######...#....#.
#..#.....##.##.##
#....#.#.##....##
#.###.#...##..##.
..##.##..#..##..#
..##.#..#.#.##.#.
.##.#.##.#.####.#
..#........#..#..
..###...#..####..
..###.#.#..####..

.#....#....
###..######
..####..##.
...##...##.
.######.##.
##....#####
###..######
##.##.#####
#####.##..#
.#....#.##.
###..######

####..####..##.
....#..#..##.#.
####.###..###..
#..###.##.####.
.##.####.#..#.#
....#..###.#.##
...###..#....#.
.....#...#..#..
.....#...#..#..

#..#.#..#.#
....####.#.
#..##.#####
#..##.#####
....####.#.
#..#.#.##.#
.##.#.#.##.

...##........
#..##..#..#..
..####......#
#.#..#.#..#.#
.#....#....#.
#.####.#..#.#
##.##.##..##.
###########.#
.#.##.#.##.#.
###..###..###
#......####..
########..###
.######.##.##

#.#..#.#....#
..#..#...##..
.#.##.#..#..#
##....##....#
######.##..#.
..####....###
#.#..#.#....#
.##..##..###.
#.#..#.#...#.
.#.##.#.#..#.
#......##...#
#......##...#
.#.##.#.#..#.
#.#..#.#...#.
.##..##..###.

.#....####....#..
.#.####..####.#..
#######..######..
##.#...##...#.###
##...######...###
.##..#....#..##..
.#....#..#....#..
#...##....##...##
....##....##.....

##....##.#.####.#
##.####.###....##
..##..##.##.##.##
...##.#....####..
#.#.#.#...#.##.#.
##...#.##.#.##.#.
..###.##.##.##.##
###..##..........
..##..####.#..#.#
...####.....##...
..#.##...#.#..#.#
..##.#####.####.#
..#...###..#..#..

##.##.#####...#.#
##.##.###....##.#
..####........#.#
.#..#.#.##...#..#
..####.....#.##..
........##..##.##
#.####.##....#.##
##.##.#########..
##.##.#########..

####.#...#...
.####..#..###
#....#.#....#
..##......#.#
..##......#.#
#....#.#....#
.####..#..###
####.##..#...
###..#.####..
.###.#...#...
.#...####.##.
.###..##..###
##.....#.##..
#.####..#.###
#.##.#####..#
#.#.#.....#..
#.#.#.....#..

###.#..
#....##
#.##...
#.#.#..
..#####
.####..
####.#.
.###...
.###...
#..####
.#.#...
.#.#...
#..####

....#####....
#..###.######
####...##...#
####..##..##.
.....##.#...#
#####..#..###
#####..##.###
.....##.#...#
####..##..##.
####...##...#
#..###.######

...#....#.....#
...#....#....##
.#.##..##.#.##.
.##..##..##.##.
##........##.#.
.#.#.##.#.#....
.#..#..#..#.#..
##..####..###..
#..#....#..#.##
..##....##..#.#
###..##..###.#.

...###.####..##
.##.#....#.####
###..###..##..#
##.#.#.#..###.#
##.#.#.#..##..#
#....#.#...#...
.##..##..###.##
#....#.###.#...
##.##.#..#####.
##.##.#..#####.
#....#.###.#...
.##..##..###.##
#....#.#...#...
##.#.#.#..##..#
##.#.#.#..###.#

#####.####...####
###.#...###..###.
..###.##...##...#
##.#####.######.#
..#..##.#.####.#.
##.##...#.####.#.
######..##.##.##.

....##..#
####.#..#
.##.#.##.
..#.##..#
.##.#.##.
....#####
#..#.####
....#####
######..#
#..#.####
#..##.##.
#..##....
####.####

.##..##.#####.#
.#####.....#.##
###.##...##...#
..##..#.###.###
..##..#.###.###
###.##...##...#
.#####.....#.##
.##..##.#####.#
#......##.####.
...##.####..#.#
##..#...##.##.#
###..#..##.....
..###...#.###.#
..###...#.###.#
###.....##.....

......#.....##.
......#..###.##
#.##.#.##.#....
##..##.#.#.####
......#...#.#..
.......##.#####
##########.#...
######..#.#.#..
##..########.##
.......##......
..##..#...##...
.####...#.##...
##..##..#...#..
.#..#.#.#..#.##
#######..###...

#..##..##..#.##
##..#..#..####.
##..#..#..####.
#..##..##..#.##
#...####...#...
#..........#.##
.##########.#..
.##.#..#.##..##
##.##..##.#####
##..#..#..####.
#.###..#.#.###.
.###....###..##
###..##..####.#
###.####.####..
#..#.##.#..##..
#....##....##.#
..#.#..#.#...#.

.....####
##..#.##.
##..#.##.
..#######
...#.####
##.#..##.
#####....
.....###.
..#..#..#
...######
..#.#....
##..##..#
##....##.
####.####
#####.##.
##..#....
...#.....

#......####...##.
#.####.#.....#.##
#########.#..#..#
#..##..#...##..##
#..##..#...##..##
#########.#..#..#
#.####.#.....#.##
#......####...##.
#..##..#..#.##.#.
.##..##.##.##..##
..#..#..###.#####
#.####.#.###..#..
########.#####.##
##.##.##....####.
........###...#.#
#..##..#..#.#.###
###.####.####.###

####.##...##.#.#.
.........##...###
##.###.#..###.#..
..##........###..
#######...#.....#
###...#.##.##.#..
###...####.##.#..

##.#..#.####.
#..#..#..##..
.###..###..##
.########..#.
###....######
....##.......
#..#..#..##..
#.#....#.##.#
..#.##.#....#

###....##....
...##########
.##.##....##.
#...##....##.
...##########
#..#..####..#
.#.....##....
.##.##.##.##.
.#.#..#..#..#
..#.##.##.##.
.#.#.######.#

.#..##...######.#
#.#..#..####...##
#####..#.##..#.#.
#####..#.##..#.#.
#.#..#..####...##
.#..##...######.#
#.##.#....#....#.
###.#.##.#####...
.#.#####..#..##.#
##...##.###.##...
#..#..###..#..#..
#..#..###..#..#..
##...##.###.##...
.#.#####..#..##.#
###.#.##.#####...
#.##.#....#....#.
.#..##...#####..#

#....##......
#.....#......
..#.#....##..
#...#..##..##
.#.#.###.##.#
#....###....#
.###.########
#........##..
#.####.......
##..####.##.#
.###...#.##.#

###.#.#
######.
######.
###.#.#
.####..
..##.##
..#.##.
###.##.
.#..###
#.#.#..
..#.#.#
##..###
##..###
..#.#.#
#...#..
.#..###
###.##.

#######........#.
########.#.#....#
......#..#...#.##
###...####....#..
.##.#..#.##.#.#.#
#..#.#....#.##.#.
####.#####..###..
....##.#..#...#..
#####.#.###..##..
#####.#.###..##..
....##.#..#...#..

#####...##...####
..###..#..#..###.
..#.######.###.#.
#.#.###....###.#.
.##..#..##..#..##
..#....####....#.
####..#.##.#..###
#...#.######.#...
###............##
#.##.#..##..#.##.
#.##.#..##..#.##.
###............##
#...#.######.#...
####..#.##.#..###
..#....####....#.

##...##.#.####.
##...#####....#
.#.#...########
###..#.#.#....#
..#..#####....#
##........#..#.
.#...........#.
#####.###......
..######.#.##.#
.###.#.#.#.##.#
.###.#.##.####.
...###..###..##
#...#.###.####.
#.##...#.#....#
#.##...#.#....#
#...#.###.####.
...###..###..##

#.#.#.###
.#....#..
..####..#
#.###..##
.#.##..##
.#....###
.#....###

#####.#.#..#..#..
#######.#..#..#..
.##..#...##..##..
#..#.#.#..##.#...
...#.#.##.#.#....
#..####.#....#.##
#####..#.#....#..
#.######.#..###..
.##.....##..#.#..
..#.##.##.....###
#####.#.##..#....
.....#...#.#.##..
###.#.#.####.....
#..####...#..#...
####.###...#..###

#..##.#
.##..##
#..###.
.....##
.##..##
.##..#.
.....##

###.####.##
##.#....#.#
#####..####
...######..
##.##..##.#
..##....##.
###.#######
####.##.###
##..####..#
..###..###.
##..#..#..#

.#...#..#...#....
###.#....#.####.#
.#.##....##.#.##.
####.#..#.####..#
##.#......#.##..#
#.##......##.#..#
####.####.#######
...#.#..#.#......
##.##.##.##.##..#
...########......
#.##.####.##.#..#
#..##....##..#..#
#............####

.###.#...##
#.#.####.##
###...####.
..##.#...#.
#.##.#...#.
#..##.#...#
#..##.#...#
#.##.#...#.
..##.#...#.

..##.#..#
#...#.#.#
.###.#.#.
##...###.
.#...###.
.###.#.#.
#...#.#.#
..##.#..#
..#.#..#.
###....#.
###....#.

#####...###
.##..#.###.
#..####.#..
...##.....#
#.#.####.##
#.#.####.##
...##.....#
#..####.#..
.#...#.###.
#####...###
#####...###

#..####..
.......##
#.##..###
.....#...
......#..
....#....
#####..##
#..#.#.##
#####.#..

.#.######.#.##.#.
..#.####.#..##..#
#..........####..
#.########.#..#.#
.####..####.##.##
#.##....##.####.#
#..#....#..#..#..
.##......##....##
...##..##...##...
#.########.####.#
##..#..#..##..##.
##.#.##.####..###
....#..#....##...

##.#....#
...##...#
...##..##
##.......
.....##..
..#..##..
..##....#
..#..##..
####....#

###.#..#...
#....##.#..
##..#...#..
.....###...
.#...#..###
.##.#.#.#..
.####..##..
..####..###
#.#.#.##...
##.#.#.....
####.###...
########...
##.#.#.....

#.#.###
.#...##
######.
##.##..
.##.#..
...##..
....###
##.##..
##.##..
....###
...##..

.####.###..
#..#....#..
.#...###..#
...##.#....
...##.###..
#.##.....##
#.####.##..
####..###..
####.##.#..
.##.#..#.##
#.#..###...
......###..
......###..
#.#..###...
.##.#..#.##

....####.
####..#.#
.......#.
.....#..#
....#.#.#
####.##.#
####..#.#
.....####
####.##.#
#####..#.
#..###...

...#..#..##..#.
#...##.######.#
.#.###...##...#
.#.#....####...
.......#....#..
..###..######..
.#.####.#..#.##
.#..###########
..#.#####..####
..###.###..###.
..###.###..###.
..#.#####..####
.#..###########
.#.#.##.#..#.##
..###..######..
.......#....#..
.#.#....####...

..##...####
.....#..#.#
..##..#.#.#
.#.####..#.
##.#....###
##.#....###
.#.####..#.
...#..#.#.#
.....#..#.#
..##...####
....#.#####
...#....##.
...#....##.

#..####...##..#
#####.##.##....
.##.##.#.##.###
.##.##.#.##.###
#####.##.##....
#..####...##..#
####......##...
......#.##.###.
....#...###.##.
####...#.#.#..#
.##.#..###..#.#
.####.##.##.#.#
####.########.#

#####..#.##
.##....#...
..#.#.##.##
######..#..
#..#####..#
#..#####..#
######..#..

#..######.#....
####....#..##.#
####....#..##.#
#..######.#....
.#...#####..#..
#...####...#.#.
##...#.#...#..#
.##.##.#.....#.
..#..##....##..
..#.....#..##.#
##...#...#####.
##...#...#####.
..#..#..#..##.#";
        var sampleText = @"#.##..##.
..#.##.#.
##......#
##......#
..#.##.#.
..##..##.
#.#.##.#.

#...##..#
#....#..#
..##..###
#####.##.
#####.##.
..##..###
#....#..#";
        answerA = DoPartA(text);
        answerB = DoPartB(text);
    }

    private int DoPartA(string text)
    {
        List<List<string>> maps = ParseInput(text);
        int total = 0;
        foreach (var map in maps)
        {
            total += SolveForReflectionValue(map);
            total += SolveForReflectionValue(FlipMap90Degrees(map), true);
        }
        return total;
    }

    private List<List<string>> ParseInput(string text)
    {
        List<List<string>> maps = new();
        List<string> lines = text.Split("\r\n").ToList();
        List<string> nextMap = new();
        foreach (var line in lines)
        {
            if (string.IsNullOrEmpty(line))
            {
                maps.Add(nextMap);
                nextMap = new();
            }
            else
            {
                nextMap.Add(line);
            }
        }
        maps.Add(nextMap);
        return maps;

    }

    private int SolveForReflectionValue(List<string> lines, bool isFlipped = false)
    {
        // Search for reflecting row
        for (int i = 1; i < lines.Count; i++)
        {
            if (lines[i].Equals(lines[i - 1])) // Possible reflection found.
            {
                (int backwardSeek, int forwardSeek) = (i - 2, i + 1);
                bool reflectionFound = true;
                while (backwardSeek >= 0 && forwardSeek < lines.Count)
                {
                    if (!lines[backwardSeek--].Equals(lines[forwardSeek++]))
                    {
                        reflectionFound = false;
                        break;
                    }
                }

                if (reflectionFound)
                {
                    return isFlipped ? i : 100 * i;
                }
            }
        }

        return 0;
    }

    private List<string> FlipMap90Degrees(List<string> lines)
    {
        var sb = new StringBuilder();
        for (int i = 0; i < lines.First().Length; i++)
        {
            for (int j = lines.Count - 1; j >= 0; j--)
            {
                sb.Append(lines[j][i]);
            }
            sb.Append("\n");
        }
        return sb.ToString().Split("\n").Where(l => !string.IsNullOrEmpty(l)).ToList();
    }

    private int DoPartB(string text)
    {
        List<List<string>> maps = ParseInput(text);
        int total = 0;
        foreach (var map in maps)
        {
            int horizontalReflectionValue = SolveForReflectionValuePartB(map);
            total += horizontalReflectionValue > 0 ? horizontalReflectionValue : SolveForReflectionValuePartB(FlipMap90Degrees(map), true);
        }
        return total;
    }

    private int SolveForReflectionValuePartB(List<string> lines, bool isFlipped = false)
    {
        // Search for reflecting row
        for (int i = 1; i < lines.Count; i++)
        {
            int totalSmudges = GetNumberOfSmudges(lines[i], lines[i - 1]);
            if (totalSmudges <= 1) // Possible reflection found.
            {
                (int backwardSeek, int forwardSeek) = (i - 2, i + 1);
                while (backwardSeek >= 0 && forwardSeek < lines.Count)
                {
                    totalSmudges += GetNumberOfSmudges(lines[backwardSeek--], lines[forwardSeek++]);
                    if (totalSmudges > 1)
                    {
                        break;
                    }
                }

                if (totalSmudges == 1)
                {
                    return isFlipped ? i : 100 * i;
                }
            }
        }

        return 0;
    }

    private int GetNumberOfSmudges(string a, string b)
    {
        return a.Equals(b) ? 0 : a.Zip(b, (aChar, bChar) => aChar == bChar ? 0 : 1).Sum();
    }
}
