@page "/Day11"
@using System.Text
@inherits ProblemBaseComponent<string, string>

<h3>Day11</h3>

<h5>Answer (A): @answerA</h5>
<h5>Answer (B): @answerB</h5>

@code {
    private long answerA = 0;
    private long answerB = 0;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        string text = @"...........#..........................#..................................................................#......#......#....................
...#....................#..........................................#..............#...........#.............................................
.............................................................................................................................#..............
........#...........#.............#..........#.....#...............................................................#........................
.............................#..............................................................................................................
........................................................................................................#..................................#
.....#..........#....................#.................#............................#.......................................................
.....................................................................#...................#.......#....................................#.....
............................................................................................................................................
........................................#....................................................................#..............#...............
...........#........................................#............#.....................................................#...........#........
......................#.............#..........................................................#.................#..........................
.............................................#..........................................................#...................................
.#.............................#............................#...............#.............#...................................#.............
............................................................................................................................................
...................................................................................#........................................................
.......#.......................................#...............#..........................................#.........#................#......
....................#..............#....................................................#........#........................................#.
...................................................#...................#.....................................................#..............
..........................#....................................................#.............................#..............................
............................................................................................................................................
.........#.....#...........................#...............................................#.......................#........................
..........................................................................................................................#.............#...
.............................................................#..............#.........#...........................................#.........
..................................#....................................................................#....................................
.................................................................................................................#..........................
.............#......................................................#.............................#..................................#......
......................#.....#...........#........#.........#.....................#.........................#...............#................
................................................................#................................................................#..........
.....#.......................................#.......................................................................#......................
.........................................................................#................#..........#......................................
..................#.....#.....................................................#..............................#..............................
.....................................#..................................................................................................#...
.............................................................#..........................................#......................#............
.....................................................#..............#................#............#...................#.....................
............................................................................#........................................................#......
...#.......#................................................................................................................................
.................#............................#..............................................................#............#.................
...........................#.............................................................#......#...........................................
...............................................................#........#...........#.......................................................
......#......................................................................................................................#......#......#
........................................................#................................................#..................................
...............................#................#.............................#.............#...............................................
.........................................#...........................#......................................................................
.#.........................#........#...........................#..................#..................#.....................................
.....................................................#........................................................#...........#.................
.......#..........#......................................................................#..........................#.............#.......#.
............................................................................................................................................
............................................................................................................................................
..................................................................................................#.........................................
..................................#.............................#......#..............#..............................................#......
............................................................................................................................................
.............................................#...................................#........................#.................................
.....#......#............#.....................................................................................#..................#.........
...........................................................#.................................................................#..............
................................#...................................................................................#.......................
................................................#..............................................#........#...................................
..........#..........#.....#........................................................#...........................................#...........
......................................#........................................#..........#..............................................#..
...................................................................#.....#.............................................#....................
.....#..........#.........................................#.................................................................................
.............................................#....................................#...........#.............................................
..........................................................................................................#......................#.........#
.#.................#............#........#..................................................................................................
...........................#..............................................................#..................................#..............
.............#......................#.................................................................#.................................#...
.......................#............................#......#....................................#...........................................
........#......................................#....................#.......................................................................
...............................#...............................................................................#............................
................................................................#.................#........#................................................
.#.....................................................................................................................#....................
................#..........#.......................#....................................................#...................#........#......
..............................................................................................#.............................................
..........#............#.............................................#......................................................................
...............................#.....#....................#.................................................................................
.....................................................................................#.............................................#........
..........................................................................................#........................#........................
...#....................................#..........................#........................................................................
............................#.......................................................................#.......................................
..............................................#.............................................................................................
..................#.....#.......................................#...........#.........................................................#.....
#...........#.......................................................................................................#.......................
..........................................#............#.........................#......................#...................................
.............................................................#............................#.................................................
.........#..........#...............................................#...........................#.......................#..................#
..........................#......................#....................................#......................................#..............
.....................................#.............................................................................................#........
.............#..................#...........................................................................................................
.......#..................................#..............................#.................#.....................#......................#...
.....................#......................................#...............................................................................
.............................#.........................#..........................#..............#..........................................
.......................................#................................................................#...........#.......................
............................................................................................................................................
............................................................................................................................................
..................#............#............#.......#.......................#...............................................#...............
.#........#...........................................................#...............................................#.....................
...............................................................................................................#............................
...................................................................................#.......................................................#
................................................#...........#...............................................................................
...................................................................................................#..............#.........................
.........#............#..............#.................................#...................#...................................#............
................#..............#...................#.............................#..........................................................
.............................................#................#........................................#..................#.................
.....#.........................................................................................................#...................#........
...................................#......................#........#......................................................................#.
........................#.............................................................#........#............................................
..#......................................#....................................#.............................................................
................#...............#.....................#..........................................................#..........................
.....................................................................................................#.......................#..............
...............................................#...........................................................................................#
.........#...........#.....................................#................#........................................#......................
...#..........#.........................#............................#...............................................................#......
............................................................................................................#.............#.................
..........................#...................................#............................#...................................#............
.....................................................................................#......................................................
..........#..............................................................................................................................#..
................#..............#.............#.........................#................................#...........................#.......
....#...............................#.......................#....................#..........................................................
....................................................#...........................................................#............#..............
.................................................................................................#..........................................
............................................................................................................................................
.........#...........#.....................#................................#..........#...........................#........................
...................................#........................................................................................................
..................................................................................#................................................#........
..............#.........................................................#.................................#...................#.........#...
..#...........................................#.............................................................................................
...........................#.........................................................................................#......................
...............................................................#............................................................................
.........#..........#....................................................................#.......#......#........................#..........
...................................#.................#...........................#.............................#............................
.....#.............................................................#........................................................................
.............................#..............................................................................................................
..............#.........................#...........................................................#..........................#.........#..
................................................................#...........................................................................
..#.........................................#.................................#..................................#..........................
.......................#.......#.......................................#....................#..............................#................
....................................................................................#...................#..........................#........
.....#.....#....................................#...................................................................#.......................
..........................................#............#....................................................................................
...............#............................................#..................................#............................................";
        string sampleText = @"...#......
.......#..
#.........
..........
......#...
.#........
.........#
..........
.......#..
#...#.....";
        answerA = DoPartA(text);
        answerB = DoPartB(text);
    }

    private long DoPartA(string text)
    {
        (List<int> emptyRows, List<int> emptyCols, List<Galaxy> galaxies) = parseInput(text);
        long totalDistance = 0;
        foreach (var galaxy in galaxies)
        {
            foreach (var otherGalaxy in galaxies)
            {
                if (galaxy.XPos == otherGalaxy.XPos && galaxy.YPos == otherGalaxy.YPos) break;
                totalDistance += findDistanceBetweenGalaxies(galaxy, otherGalaxy, emptyRows, emptyCols);

            }
        }

        return totalDistance;
    }

    private (List<int> emptyRows, List<int> emptyCols, List<Galaxy> galaxies) parseInput(string text)
    {
        // Re-build map with expanded rows and cols.
        string updatedMap = string.Empty;

        // Rows
        List<string> lines = text.Split("\r\n").ToList();
        List<int> expandableRows = new();
        for (int i = 0; i < lines.Count; i++)
        {
            if (!lines[i].Contains('#')) expandableRows.Add(i);
        }

        // Cols
        List<int> expandableCols = new();
        for (int i = 0; i < lines[0].Length; i++)
        {
            bool columnIsEmpty = true;
            foreach (var line in lines)
            {
                if (line[i] == '#')
                {
                    columnIsEmpty = false;
                    break;
                }
            }
            if (columnIsEmpty) expandableCols.Add(i);
        }

        // Galaxies
        List<Galaxy> galaxies = new();
        for (int y = 0; y < lines.Count; y++)
        {
            for (int x = 0; x < lines[0].Count(); x++)
            {
                if (lines[y][x] == '#')
                {
                    galaxies.Add(new Galaxy { XPos = x, YPos = y });
                }
            }
        }

        return (expandableRows, expandableCols, galaxies);
    }

    private long findDistanceBetweenGalaxies(Galaxy a, Galaxy b, List<int> emptyRows, List<int> emptyCols, int multiplier = 2)
    {
        long rawXDistance = Math.Abs(a.XPos - b.XPos);
        Range xRange = new Range(a.XPos > b.XPos ? b.XPos : a.XPos, a.XPos > b.XPos ? a.XPos : b.XPos);
        long rawYDistance = Math.Abs(a.YPos - b.YPos);
        Range yRange = new Range(a.YPos > b.YPos ? b.YPos : a.YPos, a.YPos > b.YPos ? a.YPos : b.YPos);
        long numberOfEmptyRowsToPassThrough = emptyRows.Where(r => r > yRange.Start.Value && r < yRange.End.Value).Count();
        long numberOfEmptyColsToPassThrough = emptyCols.Where(c => c > xRange.Start.Value && c < xRange.End.Value).Count();
        long finalDistance = rawXDistance + rawYDistance + (numberOfEmptyRowsToPassThrough * multiplier + numberOfEmptyColsToPassThrough * multiplier) - numberOfEmptyColsToPassThrough - numberOfEmptyRowsToPassThrough;
        return finalDistance;
    }

    private long DoPartB(string text)
    {
        (List<int> emptyRows, List<int> emptyCols, List<Galaxy> galaxies) = parseInput(text);
        long totalDistance = 0;
        foreach (var galaxy in galaxies)
        {
            foreach (var otherGalaxy in galaxies)
            {
                if (galaxy.XPos == otherGalaxy.XPos && galaxy.YPos == otherGalaxy.YPos) break;
                totalDistance += findDistanceBetweenGalaxies(galaxy, otherGalaxy, emptyRows, emptyCols, 1_000_000);

            }
        }

        return totalDistance;
    }

    public class Galaxy
    {
        public int XPos { get; set; }
        public int YPos { get; set; }
    }

}
