<h3>Day12</h3>

@code {
    public long answerA = 0;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        string sampleText = @"";
        answerA = DoPartA(sampleText);
    }

    private int DoPartA(string text)
    {
        return 0;
    }

    class SpringRow
    {
        public List<Spring> Springs { get; set; } = new();
        public List<int> Key { get; set; } = new();
    }

    class Spring
    {
        public int StartPosition { get; set; }
        public int EndPosition { get; set; }
        public int Length => EndPosition - StartPosition;
        public string SpringString { get; set; } = string.Empty;

        public List<int> UnknownPositions { get; set; } = new List<int>();
        public bool Confirmed => !UnknownPositions.Any();
    }
}
