@page "/"

<PageTitle>Advent of Code 2023</PageTitle>

<h1>Welcome to the 2023 Advent of Code dashboard!</h1>

<p>
  <a href="https://adventofcode.com/">Click here to go to the Advent of Code website.</a>
</p>

<p>
  Use the navigation menu to the left to select a day.
</p>

